<div id="qr-container">
  <img id="qr" />
  <h2>scan me</h2>
</div>
<div id="video-container" style="display:none">
  <div id="video"><video id='videoel' src="/3011hack.mp4" controls /></div>
</div>
<ul id="bookmarks"></ul>
<script src="/jquery.jplayer.min.js"></script>
<script>
  var socket = io.connect();
  var videoEl = $('#videoel')[0];
  var bookmarks = $('#bookmarks');
  var currentTime = 0.0;
  var id;
  socket.emit('newClient', function (myId) {
    id = myId;
    $('#qr').attr("src", "http://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=H&chl=" + "http://sockets.chrisrhoden.com/mobile?sessionId=" + id)
  });
  socket.on('partnerConnected', function() {
    $('#qr-container').hide();
    $('#video-container').show();
    setInterval(function() { if (currentTime > videoEl.currentTime || currentTime < videoEl.currentTime) {
      socket.emit('timeCode', currentTime = videoEl.currentTime) } }, 50);
  });
  socket.on('addBookmark', function(time) {
    bookmarks.append('<li>' + time + '</li>');
  });
</script>

