<div id="qr-container" style="position:relative;">
  <img id="qr" />
</div>
<div id="video-container" style="display:none">
  <div id="video">
    <video id='videoel' src="/3011hack.mp4" controls />
  </div>
  <div id="video2" style="display:none">
    <video id='videoel2' src="/ang_segment.mp4" controls/>
  </div>
</div>
<ul id="bookmarks"></ul>
<ul id="notifications"></ul>
<style>
  body {
    background: #333;
    color: #ddd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  }
  #bookmarks {
    display: none;
  }
  #qr-container {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 200px;
    height: 150px;
    padding: 50px;
    box-shadow: 0 0 2px #000;
  }
  #video-container {
    postition: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #video, #video2 {
    width: 640px;
    margin: 0 auto;
  }

  #notifications {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  #notifications li {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    padding: 5px 25px;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    margin: 10px;
  }
</style>
<script>
  function switchVideo() {
    $('#video').hide();
    $('#video2').show();
    videoEl = $('#videoel2')[0];
    setDuration();
    videoEl.play();
  }
  var socket = io.connect();
  var videoEl = $('#videoel')[0];
  var bookmarks = $('#bookmarks');
  var notifications = $('#notifications');
  var currentTime = 0.0;
  var id;
  socket.emit('newClient', function (myId) {
    id = myId;
    $('#qr').attr("src", "http://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=H&chl=" + "http://sockets.chrisrhoden.com/mobile?session_id=" + id)
  });
  socket.on('partnerConnected', function() {
    $('#qr-container').animate({'top': -400}, function() {
      $(this).hide();
      $('body').css({background:"#000"})
      $('#video-container').fadeIn(function () {
        videoEl.play();
      });
    });
    setInterval(function() { if (currentTime != videoEl.currentTime) {
      socket.emit('timeCode', currentTime = videoEl.currentTime) } }, 200);
    setDuration();
  });
  socket.on('addBookmark', function(time) {
    bookmarks.append("<li>" + timeToCode(time) + '</li>');
    var notification = $(document.createElement('li')).append("Added bookmark: " + timeToCode(time) + "<br />\"" + getTextForTime(time) + "\"");
    notifications.append(notification);
    setTimeout(function() { notification.animate({'opacity':0}, function () {
      $(this).slideUp();
    })}, 2000);
  });
  socket.on('switchVideo', function() {
    switchVideo();
  });

  function setDuration() {
    socket.emit('videoDuration', videoEl.duration);
  }
</script>


