<div class="container">

    <div id="live-bookmarker">
      <span>You are watching:</span>
      <h3>Money, Power, &amp; Wall Street</h3>
      <div class="progress progress-success" id='button'>
        <div class="bar btn-success" style="width: 0%;"> </div>
        <div class="timestamp">
        <span id='time-code'>0:00:00</span> / <span id='duration'>0:00:00</span><br />
        <span style="font-size:18px;">click to bookmark this moment</span>
        </div>
      </div>
      <table>
        <tr class="headers">
          <th>Moment</th>
          <th>Info</th>
        </tr>
        <tbody id='bookmarks'>
        </tbody>
      </table>

    </div><!-- #live-bookmarker -->

    </div>
<script>
  var socket = io.connect()
  var timeCodeEl = $('#time-code');
  var currentTime = 0;
  var duration = 0;
  var id;
  socket.emit('joinSession', <%= sessionId %>, function () {
    $('#button').click(function() {
      socket.emit('addBookmark', currentTime);
      $('#bookmarks').append("<tr><td>" + timeToCode(currentTime) + "</td><td>" +
        getTextForTime(currentTime) +"<br />"+
        makeLinksForTime(currentTime) +
        "</td></tr>");
    });
  });

  socket.on('timeCode', function (time) {
    currentTime = time;

    var percent = (time/duration) * 100;
    $('.bar').css('width', percent + "%");
    timeCodeEl.html(timeToCode(time));
  });

  socket.on('videoDuration', function(time) {
    duration = time;
    $('#duration').html(timeToCode(time));
  });

  function switchVideo() {
    socket.emit('switchVideo');
  }

  function scanTo(time) {
    socket.emit('scanTo', time);
  }
</script>
