Mobile
<div id='time-code'></div>
<script>
  var socket = io.connect()
  var timeCodeEl = $('#time-code');
  var id;
  socket.emit('joinSession', <%= sessionId %>, function () {
    $('body').append("You're connected to a session");
    $('body').append('<button>Press Me</button');
    $('button').click(function() {
      socket.emit('buttonPressed');
    });
  });

  socket.on('timeCode', function (time) {
    timeCodeEl.html(time);
  });
</script>
